<!DOCTYPE html>
<html>
  <head>
    <title><%= site.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="import" href="navbar.ejs" />
  </head>
  <body>
    <nav>
      <ul><a class="navbar" id="link1" href="/views/index.ejs">Home</a></ul>
    </nav>
    <%-body%>
  </body>
</html>
