<!DOCTYPE html>
<html>
  <head>
    <title><%= site.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script href='/layout.js'></script>
  </head>
  <body>
    <nav>
      <input type='button' class='navbar' id='home' value='Home' />
      <input type='button' class='navbar' onClick='/meh.ejs' value='Meh' />
    </nav>
    <div class='main'>
      <%-body%>
    </div>
  </body>
</html>
