<style>
  body {
    background-color: black;
  }

  .meh {
    position: relative;
    margin: auto;
    top: 0; bottom: 0; left: 0; right: 0;
    background-image: url('http://www.thinkgeek.com/images/products/additional/large/8753_meh.jpg');
    height: 600px;
    width: 600px;
  }
</style>

<div class="meh"></div>
