body {
  margin: 0;
  font-family: sans-serif;
  height: 3000px;
}

a {
  text-decoration: none;
  color: beige;
}

.main {
  margin-top: 50px;
  text-align: justify;
}

#topbar li {
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  width: 120px;
  display: inline;
}

#topbar {
  width: 100%;
  background-color: #333;
  top: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 99999;
  list-style: none;
  overflow: hidden;
}
